name: Build NuGet Packages

on: [ push, pull_request ]

jobs:
  build_nuget:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Setup Node 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'microsoft'
        java-version: '21'
    - name: Build NuGet package
      env:
        OpenApiJson: https://www.keycloak.org/docs-api/26.4.2/rest-api/openapi.json
        PublishFolder: Keycloak.RestApiClient.${{github.ref_name}}
        NuGetApiKey: ${{ secrets.NUGET_API_KEY }}
      run: ./build.cmd BuildClient
